Factorial: This Python program uses a recursive function to calculate the factorial of a given number. The factorial is computed by multiplying the number with the factorial of its preceding number.

In [18]:
def fact(n):
    return 1 if(n==1 or n==0) else n * fact(n-1)
num = int(input())
print("Factorial of n is:", fact(num))

10
Factorial of n is: 3628800

Python Program to Print all Prime Numbers in an Interval

In [48]:
n = int(input())

for number in range(2,n):
    if number > 1:
        for j in range(2,number):
            if(number%j==0):
                break
        else:
            print(number)

20
2
3
5
7
11
13
17
19

Fibonacci sequence: In mathematics, the Fibonacci sequence is a sequence in which each number is the sum of the two preceding ones. Numbers that are part of the Fibonacci sequence are known as Fibonacci numbers

In [21]:
def fib(n):
    series = []
    a,b = 0,1
    for i in range(n):
        series.append(a)
        a,b = b,a + b
    return series
enter = int(input())
series = fib(enter)
print(series)

10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Palindrome

In [22]:
def palin(n):
    return str(n) == ''.join(reversed(str(n)))

n = int(input())
if palin(n):
    print("Yes")

11
Yes

check element of list which is greater python

li = []

n = int(input("Enter the number of elements: "))
for i in range(n):
    ele = int(input("Enter element: "))
    li.append(ele)

print("List:", li)

In [30]:
li = [4,5,6,3,2,1]
i = 1
greator = [x for x in li if x>i]
print(greator)

[4, 5, 6, 3, 2]

Armstrong Number

In [34]:
num = int(input())
sum = 0
temp = num
while temp > 0:
    digit = temp%10
    sum += digit**3
    temp //= 10
if num == sum:
    print("yes")

153
yes

Sum of natural number

In [35]:
enter = int(input())
if num<0:
    print("Enter positive number")
else:
    sum = 0
    while(num>0):
        sum += num
        num -= 1
    print(sum)

15
11781

Pyramid

In [37]:
def pyramid(rows):
    for i in range(rows):
        print(" "*(rows-i-1)+"*"*(2*i+1))
num_rows = int(input("Enter the number of rows for the pyramid: "))
pyramid(num_rows)

Enter the number of rows for the pyramid: 5
    *
   ***
  *****
 *******
*********

Triangle

In [42]:
def triangle(rows):
    for i in range(1, rows + 1):
        print("*" * i)
triangle(5)

*
**
***
****
*****

Write a Python program that removes vowels
from a string

In [2]:
def rem(string):
    vowels = 'aeiouAIOU'
    removed =''.join(i for i in string if i not in vowels)
    return removed
enter = input()
result = rem(enter)
print(result)

Hello ther
Hll thr

Write a Python program that rotates an array by
two positions to the right.

In [5]:
def todo(arr):
    n = len(arr)
    move = arr[-2:] + arr[:-2]
    return move
input_arr = [4,5,1,2]
print(todo(input_arr))

[1, 2, 4, 5]

Write a Python code to find all nonrepeating
characters in the String

In [20]:
enter = input()
for i in enter:
    count = 0
    for j in enter:
        if i == j:
            count+=1
        if count>1:
            break
    if count ==1:
        print(i)

hello
h
e
o

Write a Python program to calculate the power
using ‘while-loop’

In [21]:
base = 3
exponent = 3
result = 1

while exponent!=0:
    result*=base
    exponent-=1
    print(result)

3
9
27

In [23]:
base = 3
exponent = 3
result = 1

for exponent in range(exponent,0,-1):
    result*=base
    print(result)

3
9
27

Write a program to check and return the pairs of a
given array A whose sum value is equal to a target
value N

In [26]:
def hello(arr,target):
    pairs = []
    for i in range(len(arr)):
        for j in range(i+1,len(arr)):
            if arr[i] + arr[j] == target:
                pairs.append((arr[i],arr[j]))
    return pairs
enter = [1, 2, 3, 4, 5, 6]
target = 7
result = hello(enter,target)
print(result)

[(1, 6), (2, 5), (3, 4)]

Write a Program to convert date from yyyy-mm-dd
format to dd-mm-yyyy format using regular
expression.

In [27]:
from datetime import datetime
def conv(input_data):
    parse = datetime.strptime(input_data, '%Y-%m-%d')
    converting = parse.strftime('%d,%m,%y')
    return converting
input_data = "2024-04-1"
result = conv(input_data)
print(result)

01,04,24

Write a Program to combine two different
dictionaries. While combining, if you find the same
keys, you can add the values of these same keys.
Output the new dictionary

In [28]:
dict1 = {'a': 12, 'for': 25, 'c': 9}
dict2 = {'Geeks': 100, 'geek': 200, 'for': 300}

for key in dict2:
    if key in dict1:
        dict2[key] = dict1[key] + dict2[key]
    else:
        pass
print(dict2)

{'Geeks': 100, 'geek': 200, 'for': 325}

Find the largest element in a list.
Find the smallest element in a list.

In [2]:
li = [4,5,8,7,2,1,6,3,9]
print(max(li))
print(min(li))

9
1

In [4]:
li = [4,5,8,7,2,1,6,3,9]
def todo(n):
    max_n = li[0]
    min_n = li[0]
    for x in li:
        if x < min_n:
            min_n = x
        elif x > max_n:
            max_n = x
    return min_n, max_n
print("max value is:",todo(li)[1])
print("min value is:",todo(li)[0])

max value is: 9
min value is: 1

In [2]:
hi = list(map(int,input().split()))
print(hi)

45 5 6 8 9
[45, 5, 6, 8, 9]

Sort a list of numbers in ascending order.
Sort a list of strings in alphabetical order

In [4]:
def demo(n):
    n.sort()
    return n
numb = [5,6,3,4,7,8,9]
print(demo(numb))

[3, 4, 5, 6, 7, 8, 9]

In [7]:
def demo(n):
    n.sort()
    return n
numb = ['apple','mango','banana','cherry']
print(demo(numb))

['apple', 'banana', 'cherry', 'mango']

Count the number of vowels in a string.
Count the number of words in a sentence

In [15]:
enter = input()
vowels='aeiouAEIOU'
count = 0
count_words = 0
for i in enter:
    if i in vowels:
        count +=1 
    count_words = len(enter.split())
print("Count of vowels are: ", count)
print("Count of words:", count_words)

hello
Count of vowels are:  2
Count of words: 1

11.	Calculate the sum of digits in a number.
12.	Calculate the product of elements in a list.

In [16]:
def hi(n):
    return sum((int(i) for i in str(n)))
num = input()
print(hi(num))

123
6

In [19]:
def demo(num):
    prod = 1
    for i in num:
        prod *= i
    return prod
num=list(map(int,input().split()))
print(demo(num))

1 2 3 4 5 6 7 8 9
362880

14.	Remove duplicate elements from a list.
15.	Find the second largest element in a list.
16.	Find the second smallest element in a list

In [21]:
li = [1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9]
def hi(li):
    return list(set(list(li)))
print(hi(li))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
def calc(li):
    result = [i for i in li if i < max(li)]
    return max(result)
li = [2,1,3,6,5,3,4,7,8,9]
print(calc(li))

8

In [26]:
li = [1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9]
def demo(li):
    result = sorted(set(li))
    if len(result)>=2:
        return result[1]
    else:
        return None
print(demo(li))

2

Generate a random number within a range.
Convert a string to uppercase.
Convert a string to lowercase.

In [28]:
import random
print(random.randint(1,20))

6

In [30]:
enter = input()
def calc(enter):
    result = enter.upper()
    result0 = enter.lower()
    return result, result0

result, result0 = calc(enter)
print(result,result0)

hello
HELLO hello

21.	Calculate the area of a circle.
22.	Calculate the area of a rectangle.
23.	Calculate the area of a triangle

In [34]:
def circle(r):
    pi = 3.147
    result = pi * (r*r)
    return result
print(circle(3))

def rectangle(length, width):
    return length * width
length = 3
width = 8
print(rectangle(length,width))

def triangle(b,h):
    result = 0.5 * b *h
    return result
b = 3
h = 5
print(triangle(b,h))

28.322999999999997
24
7.5

27.	Count the number of occurrences of a character in a string.
28.	Merge two dictionaries.
29.	Remove a key from a dictionary.

In [40]:
enter = input()
count = 0

def calc(enter):
    global count
    for i in enter:
        if i == 'a':
            count += 1
    return count

res = calc(enter)
print(res)

hola
1

In [47]:
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}

def merge(dict1,dict2):
    return(dict2.update(dict1))

print(merge(dict1,dict2))
print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [42]:
test_dict = {"Arushi": 22, "Anuradha": 21, "Mani": 21, "Haritha": 21}
result = test_dict.pop('Mani')
print(test_dict)

{'Arushi': 22, 'Anuradha': 21, 'Haritha': 21}

Check if two strings are anagrams.

In [48]:
s1=input()
s2=input()
def check(s1,s2):
    if(sorted(s2)==sorted(s1)):
        print("Its an anagram", s2)
check(s1,s2)

listen
silent
Its an anagram silent

30.	Find the length of a string.
31.	Generate Fibonacci series up to n terms.

In [2]:
def st(m):
    return len(m)
m = "Fibonaci Series"
i = st(m)
print(f"Length of {m} is:",i)
    
def fib(n):4
    a,b=0,1
    series = []
    for i in range(n):
        series.append(a)
        a,b = b,a+b
    return series
n = int(input())
hi = fib(n)
print(hi)

Length of Fibonaci Series is: 15
8
[0, 1, 1, 2, 3, 5, 8, 13]

Find the factorial of a large number using recursion

In [4]:
def rec(n):
    if n == 1:
        return n
    else:
        return n * rec(n-1)
n = int(input())
if n < 0:
    print("Enter positive num")
elif n == 0:
    print("The fact of 0 is 1")
else:
    print(f"The factorial of given num {n} is: ", rec(n))

7
The factorial of given num 7 is:  5040

37.	Calculate the power of a number using recursion
38.	Find the sum of natural numbers up to n.(resursion)

In [5]:
def cal(n,p):
    if p == 0:
        return 1
    else:
        return n * cal(n,p-1)
print(cal(5,5))

3125

In [6]:
def recusr(number):
    if number == 0:
        return number
    return number + recusr(number-1)
number = int(input())
print(recusr(number))

6
21

39.	Calculate the mean of elements in a list.
40.	Calculate the median of elements in a list.

In [10]:
li = list(map(int,input().split()))
average = sum(li)/len(li)
print(average)

2 4 6 8
5.0

In [11]:
li = [2, 3, 5, 7, 8]
count = len(li)
li.sort()

if count%2==0:
    m1 = li[count//2]
    m2 = li[count//2 - 1]
    m = (m1+m2)/2
else:
    m = li[count//2]
print("Median", m)

Median 5

Calculate the sum of all prime numbers up to a given number

In [25]:
n = int(input())
sum = 0

for num in range(2,n):
    if num>1:
        for j in range(2,num):
            if (num%j == 0):
                break
        else:
            print(num)
            sum += num
print(sum)

11
2
3
5
7
17