Using the KNN method we need to predict whether a erson is Exited or Not

n = Number of neighbour

d = How distance would be calculated

In [1]:
import pandas as pd

In [4]:
# step 1 : Load the data
churn = pd.read_csv(r"E:/Dataset/Churn_Modelling.csv")
churn.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# Data pre-processing
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [6]:
churn['Exited'] = churn['Exited'].astype('category') #To change the data type

In [7]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  category
dtypes: category(1), float64(2), int64(6), object(2)
memory usage: 791.3+ KB

In [11]:
# Dummy data
df = pd.get_dummies(churn, columns = ['Geography','Gender'], drop_first=True)
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [12]:
# Step 2: Define x and y
Y = df[['Exited']]

X = df.drop(columns = ['Exited'])

#Step 3 : Splitting the data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, train_size = 0.8, random_state=17)
 
len(X_train), len(X_test), len(Y_train), len(Y_test)

(8000, 2000, 8000, 2000)

In [13]:
# Step 4: Creating the model using the training data set

# Create the model object
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3,p=2) #defining how many neighbors we want, and difining the method to calculate distance 

#Fit the object
model = knn.fit(X_train,Y_train)
model

C:\Users\dell\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [17]:
# Step 5 : Predicting the test cases

Y_test['Predicted_Exited'] = model.predict(X_test)
Y_test

     Exited  predicted_exited  Predicted_Exited
2688      0                 0                 0
233       0                 0                 0
9099      0                 0                 0
8652      0                 0                 0
2842      1                 0                 0
...     ...               ...               ...
4395      0                 0                 0
8669      0                 0                 0
7634      0                 0                 0
556       0                 1                 1
8247      0                 0                 0

[2000 rows x 3 columns]

In [18]:
# Step 6 : Check the accuracy
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
accuracy_score(Y_test['Exited'],Y_test['Predicted_Exited'])

0.7405

In [19]:
confusion_matrix(Y_test['Exited'],Y_test['Predicted_Exited'])

array([[1420,  166],
       [ 353,   61]], dtype=int64)

In [21]:
print(classification_report(Y_test['Exited'],Y_test['Predicted_Exited']))

              precision    recall  f1-score   support

           0       0.80      0.90      0.85      1586
           1       0.27      0.15      0.19       414

    accuracy                           0.74      2000
   macro avg       0.53      0.52      0.52      2000
weighted avg       0.69      0.74      0.71      2000

Apply SMOTE technique