Random Forest can also be used for Binary and Non-Binary Classification

Dataset : Mobile Classification
Problem : Using Random Forest Technique we need to build a model to predict the price range 
Input Variable : All the col except price_range
Output Variable : price_range

In [1]:
import pandas as pd

In [2]:
# Step 1 : Import the dataset
df = pd.read_csv("E:/Dataset/Mobile Classification-RF.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [3]:
# Checking for missing value
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [6]:
# Step 2 : Define our X and Y
Y = df[['price_range']]

X = df.drop(columns = ['price_range'])

In [8]:
# step 3 : Split the data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, train_size = 0.8, random_state=17)
 
len(X_train), len(X_test), len(Y_train), len(Y_test)

(1600, 400, 1600, 400)

In [10]:
# Step 4: Creating the model using the training data set
# Create the model object
from sklearn.ensemble import RandomForestClassifier

rf =  RandomForestClassifier(n_estimators = 500)

#Fit the object on the training the data (fit command)
model = rf.fit(X_train,Y_train)
model

C:\Users\dell\AppData\Local\Temp\ipykernel_13740\1835088020.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = rf.fit(X_train,Y_train)

RandomForestClassifier(n_estimators=500)

In [11]:
# Step 5 : Predicting the test cases
Y_test
Y_test['predicted_price'] = model.predict(X_test)

In [12]:
Y_test

      price_range  predicted_price
828             3                3
914             3                3
331             1                1
1706            2                1
117             1                1
...           ...              ...
1777            1                1
1713            0                0
621             1                0
581             3                3
1238            2                2

[400 rows x 2 columns]

In [17]:
# Step 6 : We build our confusion matrix to check our accuracy of model

from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

accuracy_score(Y_test['price_range'], Y_test['predicted_price'])

0.895

In [16]:
confusion_matrix(Y_test['price_range'], Y_test['predicted_price'])

array([[99,  5,  0,  0],
       [ 5, 84,  7,  0],
       [ 0, 14, 79,  6],
       [ 0,  0,  5, 96]], dtype=int64)

In [18]:
print(classification_report(Y_test['price_range'], Y_test['predicted_price']))

              precision    recall  f1-score   support

           0       0.95      0.95      0.95       104
           1       0.82      0.88      0.84        96
           2       0.87      0.80      0.83        99
           3       0.94      0.95      0.95       101

    accuracy                           0.90       400
   macro avg       0.89      0.89      0.89       400
weighted avg       0.90      0.90      0.89       400

In [21]:
#Of all the X(input variables) which input parameter impacts the Y(price_range) the most

model.feature_importances_

array([0.07357432, 0.00674028, 0.02826453, 0.00725468, 0.02460131,
       0.00658389, 0.03867715, 0.02560963, 0.04058124, 0.02355284,
       0.03028678, 0.05703732, 0.05845335, 0.47100952, 0.02797922,
       0.02911249, 0.03100224, 0.00526487, 0.00770927, 0.00670508])

In [25]:
pd.Series(model.feature_importances_,X_train.columns).sort_values(ascending = False)

ram              0.471010
battery_power    0.073574
px_width         0.058453
px_height        0.057037
mobile_wt        0.040581
int_memory       0.038677
talk_time        0.031002
pc               0.030287
sc_w             0.029112
clock_speed      0.028265
sc_h             0.027979
m_dep            0.025610
fc               0.024601
n_cores          0.023553
touch_screen     0.007709
dual_sim         0.007255
blue             0.006740
wifi             0.006705
four_g           0.006584
three_g          0.005265
dtype: float64

 We can remove un-necessory parameter which are not impacting much